.dash-nav {
	&-wrapper {
		background: $navbar-default-bg;
	}
	li {
		margin: 0 !important;
		background: $navbar-default-bg;
		a {
			color: $brand-primary;
			transition: all .3s ease;
			&:hover {
				border-radius: 0;
				color: $navbar-default-bg;
			    background: $brand-primary;
			}	
		&.active {
			color: $navbar-default-bg;
			background: $brand-primary;
			border-radius: 0;
		}
		}
	}
	&-user-info {
		margin: 0;
	    padding: 10px 0;
	    font-size: 26px;
	    font-weight: 600;
	    color: #FF7043;
	    text-align: center;
	    text-shadow: 1px 2px 2px rgba(0,0,0,.2);
	    border-bottom: 1px solid $navbar-default-border;
	}
}
