.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    border-top: 1px solid $navbar-default-border;
    background-color: $navbar-default-bg;
    .container {
    	height: 100%;
    }
}

.copy {
	padding-top: 15px;
}